# First Answer

Generate First Answer

In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [28]:
RAW_PATH="../data/raw/"
INTERIM_PATH="../data/interim/"
PROCESSED_PATH="../data/processed/"
ANSWER_PATH="../data/answer/"

MODEL_PATH="../models/"

## Get Data

In [29]:
data_A=pd.read_csv(RAW_PATH+"data_dev_A.csv")
data_B=pd.read_csv(RAW_PATH+"data_dev_B.csv")

In [30]:
data_A.head()

  RES_ID                                           RESPONSE
0  DEVA1  karena di tempat tnggalnya tidak aman karena b...
1  DEVA2  banyak yang menolak, susah mencari lapangan pe...
2  DEVA3  ah berkomunikasi dengan wilyah yang mereka tem...
3  DEVA4  tantangan yang akan mereka hadapi, seperti mer...
4  DEVA5      Mereka akan tidak terbiasa dengan tempat baru

In [31]:
data_B.head()

  RES_ID                                           RESPONSE
0  DEVB1  karena jika menyumbangkan pakaian itu pakaian ...
1  DEVB2  memastikan bahwa ppenerima akan senang dan yg ...
2  DEVB3  karena banyak orang yang mendukung hal tersebu...
3  DEVB4  karena banayak orang yang ada atau bekerja di ...
4  DEVB5  karna sebagian orang ada yang ingin beramal da...

## Generate Answer

In [66]:
len(data_A),len(data_B)

(215, 244)

In [67]:
data_resp=pd.concat([data_A[['RES_ID']],data_B[['RES_ID']]])
data_resp['LABEL']=([1]*(len(data_resp)-1))+[0]
data_resp=data_resp.reset_index()[['RES_ID','LABEL']]

In [68]:
answer=list(data_resp.transpose().to_dict().values())

In [69]:
# "predictions_dev.json"

In [70]:
with open(ANSWER_PATH+'predictions_dev_v1.json', 'w') as f:
    json.dump(answer, f)
    
with open(ANSWER_PATH+'predictions_dev.json', 'w') as f:
    json.dump(answer, f)

In [71]:
# answer